

{% extends 'base.html' %}

{% block content %}

<br><br>
<hr><hr>

<h5 style="color:blue">Registration Form:</h5>
    
<div>
    <form action="register" method="post">
        {% csrf_token %}
        <label>Enter First Name:</label>
        <input type="text" name="first_name" placeholder="First Name"><br>
      
        <label>Enter Last Name:</label>
        <input type="text" name="last_name"  placeholder="Last Name"><br>
      
        <label>Enter User Name:</label>
        <input type="text" name="username" placeholder="Username"><br>
       <!-- <input type="text" name="branch" placeholder="Branch"><br>-->
        
        <label>Enter Email:</label>
        <input type="email" name="email" placeholder="Email"><br>
    
        <label>Enter Password:</label>
        <input type="password" name="password1" placeholder="Password"><br>
        
        <label>Re-enter Password:</label>
        <input type="password" name="password2" placeholder="Confirm Password"><br>
       
        <input type="Submit">
    </form>
</div>




<hr><hr>

    <div>
        {% for message in messages %}
           <h3>{{message}}</h3>
        {% endfor %}
    </div>





{% endblock %}
