


{% extends 'base.html' %}

{% block content %}

<br>
<br>
<hr>

<h5 style="color:blue"> Enter Details Of New Thesis: </h5>
 <form action="thesis" method="post">
        {% csrf_token %}

        <label>Enter StudentName:</label>
        <input type="text" name="student_name" placeholder=" StudentName"><br>
        
        <label>Enter SupervisorName</label>
        <input type="text" name="supervisor_name"  placeholder="SupervisorName"><br>
        
        <label>Enter ThesisTitle:</label>
        <input type="text" name="thesis_title" placeholder="ThesisTitle"><br>

        <label>Enter Department Name:</label>
        <input type="text" name="department" placeholder="Department"><br>
        
        <label>Enter SubmissionYear:</label>
        <input type="number" name="submission_year" placeholder="SubmissionYear"><br>
        
        <input type="Submit">
    </form>
<hr>



{% endblock %}
